
/* Styl responsywny */
@media (max-width: 768px) {
    .offer-container {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .contact-content {
        flex-direction: column;
        justify-content: space-between;
    }

    #map, #contact-info {
        width: 45%;
    }
}